<!DOCTYPE HTML>
<html lang="en">
  <head>
    {{>head}}
    <title>pluged.io blockchain based colbrative sequence prediction</title>
  <head>
  <body>
    {{>bsnavbar}}
    <div class="container">
      {{{body}}}
    </div>

    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js">
  </body>
<html>
